<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="stdObj"  class="bean.Student" scope="prototype">
   		<property name="sname"  value="Krishna" />
   		<property name="course"  value="Java" />
   		<property name="fees"  value="12000.00" />
   </bean>
   
   <!--  empty object, where values will be given in testing file -->
   <bean id="stdObj1"  class="bean.Student" scope="prototype">		
   </bean>
</beans>